.tabsContainer {
	position: relative;
	margin-bottom: 2rem;
	width: 100%;
}

.tabsListWrapper {
	position: sticky;
	top: var(--main-header-height);
	z-index: 40;
	transition: all 0.3s ease;
	background-color: white;
	width: 100%;
}

.tabsList {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	background-color: transparent !important;
	padding: 1rem 0 2rem;
}

/*TRIGGER*/
.tabsTrigger {
	padding: 12px 0;
	height: auto;
	font-size: 18px;
	font-weight: bold;
	color: #6b7280;
	background-color: transparent !important;
	border: none;
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease;
}

.tabsTrigger[data-state="active"] {
	color: #111827;
	background-color: transparent !important;
	box-shadow: none !important;
}

.tabsTrigger:hover {
	color: #374151;
	background-color: transparent !important;
}

.tabsTrigger[data-state="active"]::after {
	content: none;
}

@media (max-width: 768px) {
	.tabsList {
		gap: 16px;
	}

	.tabsTrigger {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.tabsList {
		gap: 12px;
	}

	.tabsTrigger {
		font-size: 12px;
		padding: 8px 0;
	}
}
