.commentItem {
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #e6e6e6;
}

.commentHeader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	margin-bottom: 12px;
}

.userInfo {
	display: flex;
	align-items: center;
	gap: 12px;
}

.userAvatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.userDetails {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.userName {
	font-weight: 600;
	font-size: 14px;
}

.commentDate {
	color: #888;
	font-size: 12px;
}

.commentBody {
	margin-bottom: 12px;
	line-height: 1.5;
	color: #333;
}

.commentFooter {
	display: flex;
	align-items: center;
	gap: 10px;
}

.likeBtn {
	width: fit-content;
	display: flex;
	border: 1px solid #b3b3b3;
	padding: 8px 12px;
}

.replyBtn {
	background-color: var(--brand-gray);
	font-weight: bold;
	border: none;
	border-radius: 10px;
	padding: 5px 20px;
}

.replyBtn:hover {
	background-color: #e6e6e6;
}
