.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 400px;
}

.mainPrice {
    font-size: 24px;
    font-weight: bold;
}

.priceRange {
    color: var(--text-secondary);
}

.chartWrapper {
    width: 100%;
}

.dates {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: var(--text-secondary);
}

.subtext {
    color: var(--text-secondary);
    text-align: left;
    line-height: 1.3;
}

.closeButton {
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    border-radius: 10px;
}
