.PartnerAuth {
}

.logo {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #000;
    z-index: 101;
}


.logo h1, .logo span {
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: var(--brand-primary);
}
