.SignUpPartner {
	width: clamp(50%, 70vw, 100%);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	border: 1px solid var(--skeleton);
	border-radius: 1rem;
	height: 60vh;
}

.SignUpPartner h1 {
	font-size: 2rem;
	font-weight: bold;
}

.SignUpPartner h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.stepperBar {
	max-width: 350px;
	height: 100%;
	border-right: 1px solid var(--skeleton);
	padding: 1.5rem;
}

.stepWrapper {
	flex: 1;
	height: 100%;
	padding: 1.5rem;
}
