.ChooseDeliveryPointModal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.radioGroup{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.btn{
    padding: 1.5rem 0;
    border-radius: 0.5rem;
}