.PartnerItemsList {
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h2 {
	font-weight: bold;
	font-size: 26px;
}

.actions {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
	margin: 30px 0;
}
