.MarketRequestsTable {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.MarketRequestsTable table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
}

/* Шапка таблицы */
.MarketRequestsTable thead tr {
    background-color: #f8f8f8;
    font-weight: bold;
}

.MarketRequestsTable th,
.MarketRequestsTable td {
    padding: 0.75rem;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    text-align: left
}

.MarketRequestsTable th {
    font-weight: 500;
    color: black;
}

.MarketRequestsTable tbody tr:hover {
    background-color: #fafafa;
}

.tableCell {
    color: var(--text-secondary);
}

.tableProductCell {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-secondary);
}

.tableStatusCell {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.productName,
.article {
    color: black;
    font-weight: bold;
}

.contact, .checkReq{
    color: var(--brand-primary);
    font-weight: 500;
}

.checkReq{
    cursor: pointer;
}

/*STATUS*/
.status {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 14px;
}
