.searchWrapper {
	display: flex;
	min-width: 300px;
	position: relative;
}

.searchInput {
	width: 100%;
	padding: 8px 40px 8px 35px;
	border: 2px solid #e5e7eb;
	border-radius: 10px;
	font-size: 14px;
}

.searchIcon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	color: #9ca3af;
}

.searchInput:focus {
	outline: none;
	border: 2px solid #d4d4da;
}
