.BrandsSlider {
    margin-top: 1rem;
}

.brandItem{
    flex: none;
    background-color: var(--brand-gray);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.brandItem:hover{
    background-color: var(--skeleton);
}