.itemCard {
    width: 100%;
    display: flex;
    gap: 12px;
    margin: 30px 0;
}

.contentScrollSection{
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.itemImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.itemInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemNamePrice {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.itemNamePrice span{
    font-weight: bold;
}

.itemPrice {
    font-weight: 600;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #6B7280;
    font-size: 12px;
}

.itemDetails span{
    font-size: 14px;
    font-weight: 500;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.reasonButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.reasonButton {
    padding: 10px 15px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    background: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.reasonButton.selected {
    background: #0066FF;
    color: white;
    border-color: #0066FF;
}

.textarea {
    width: 100%;
}

.photoDescription {
    color: #6B7280;
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.photoOption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 120px;
}

.photoUpload {
    width: 100%;
    aspect-ratio: 2 / 1;
    border: 2px dashed #CFCFCF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 14px;
    color: #6B7280;
    cursor: pointer;
    background-color: #F9FAFB;
}

.photoUpload span {
    color: #4D4D4D;
}

.fileInput {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.photoUpload svg {
    width: 28px;
    height: 28px;
    color: #6B7280;
}

.submitButton {
    width: 100%;
    margin-top: 20px;
    padding: 25px 0;
    font-weight: bold;
}

.submitButton:hover {
    background-color: #0c5bc8;
}

.submitButton:disabled {
    cursor: not-allowed;
}

.fileInput {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.uploadedMedia{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 2 / 1;
}

.noResults{
    width: 100%;
}