.MainPage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

/* ========================= NO CONTENT ========================= */
.noContent{
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #f1f5fc;
    border-radius: 1rem;
    padding: 200px 0;
}

.noContent h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.noContent p{
    font-size: var(--brand-gray);
}

.createItemBtn{
    padding: 25px;
    border-radius: 1rem;
}