.ChangePasswordModal {
    width: 500px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.passwordToggle{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input {
	width: 100%;
	margin: 1rem 0;
	padding: 0.75rem;
	background: var(--brand-gray);
	border-radius: 0.75rem;
	font-size: 16px;
	font-weight: 500;
	border: none;
	outline: none;
}

.errorText {
	font-size: 14px;
	margin-top: 0.25rem;
}

.actionButtons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.actionButton {
	flex: 1;
	font-weight: bold;
	font-size: 1rem;
	padding: 25px 0;
	border-radius: 0.8rem;
}
