.wrapper {
	width: 100%;
}

.chipsContainer {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 10px;
}

.chip {
	background-color: var(--brand-primary);
	color: white;
	padding: 10px;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 14px;
	font-weight: 500;
}

.closeBtn {
	width: 14px;
	height: 14px;
	background-color: white;
	border-radius: 3px;
	color: var(--brand-primary);
	cursor: pointer;
}
